<% if(!index){ %>
  <div class="section"><div class="container">
<% } %>
<div class="card <% if(index) { %>card--hover<% } %>">
  <div class="card-content">
    <%- partial('post/gallery') %>
    <div class="media">
      <div class="media-content">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </div>
    </div>

    <div class="content">
      <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <a class="button is-flat card__cta" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        <% } %>
      <% } else { %>
      <%- post.content %>
    <% } %>
    </div>
  </div>
</div>
<% if(!index) { %></div></div><% } %>