<footer class="footer">
  <div class="content has-text-centered">
    <p>
      &copy; <%= date(new Date(), 'YYYY') %> - <%= config.author || config.title %>.<br>
      <%= __('powered_by') %> <a href="https://github.com/lhas2" target="_blank">@lhas</a> <%= __('using') %> <a href="https://hexo.io" target="_blank">Hexo</a> <%= __('and') %> <a href="https://bulma.io" target="_blank">Bulma</a>.
    </p>
  </div>
</footer>