<% if (post.link){ %>
  <h2 class="title is-4">
    <a class="has-text-primary <%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
  </h2>
  <p class="subtitle has-text-grey-lighter is-6"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, date_format) %></time></p>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h2 class="title is-4">
      <a class="has-text-primary <%= class_name %>" href="<%- url_for(post.path) %>"><%= post.title %></a>
    </h2>
    <p class="subtitle has-text-grey-lighter is-6"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, date_format) %></time></p>
  <% } else { %>
    <h1 class="title is-2 has-text-primary <%= class_name %>" itemprop="name">
      <%= post.title %>
    </h1>
  <% } %>
<% } %>