    <% if(index) { %>
      
      <div class="card <% if(index) { %>card--hover<% } %>">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <%- partial('post/title', {class_name: 'article-title', date_format: 'DD/MM/YYYY'}) %>
            </div>
          </div>
          <% if (index) { %>
            <%- partial('post/gallery') %>
          <% } %>

          <div class="content">
            <% if (!index){ %>
              <%- post.content %>
            <% } else { %>
            <% post.tags.data.map(function(tag) { %>
              <span class="tag">
              <%- tag.name %>
            </span>
            <% }) %>
            <% } %>
          </div>
        </div>
      </div>

    <% } else { %>

    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <%= post.title %>
          </h1>
          <h2 class="subtitle">
            Escrito por @lhas em <%= date(post.date, 'DD/MM/YYYY') %>
          </h2>
        </div>
      </div>
    </section>

  <div class="section">
    <div class="container">

          <% if (index) { %>
            <%- partial('post/gallery') %>
          <% } %>

          <div class="content content--post article-entry">
            <% if (!index){ %>
              <%- post.content %>

              <!-- Begin MailChimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
              <form action="https://loucosfc.us7.list-manage.com/subscribe/post?u=74d8632f3fac9f0b6c0d9edf4&amp;id=74d11a35c0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Participe da nossa newsletter</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="seu e-mail aqui" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_74d8632f3fac9f0b6c0d9edf4_74d11a35c0" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Inscrever" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
              </form>
              </div>

              <!--End mc_embed_signup-->

            <% } else { %>
            <% post.tags.data.map(function(tag) { %>
              <span class="tag">
              <%- tag.name %>
            </span>
            <% }) %>
            <% } %>
          </div>

    </div>
  </div>
  <% } %>


<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments" class="section">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>